:root {
    --oregon-blue: #355070;
    --dusky-plum: #6D597A;
    --rose-desert: #B56576;
    --candy-pink: #E56B6F;
    --sand-orange: #EAAC8B;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
}

main {
    margin: 10rem 6rem;
}

nav {
    background-color: var(--oregon-blue);
    color: white;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 3rem 1rem 0;
    justify-content: right;
    z-index: 10;
}

nav .nav-item {
    color: white;
    font-size: 1.25rem;
    padding: 1rem 2rem 1rem 1rem;
}

h1 {
    font-size: 3rem;
    margin-top: 8rem;
}

a {
    text-decoration: none;
    color: black;
}

button, .button {
    padding: 1.25rem 2rem;
    background-color: var(--oregon-blue);
    color: white;
    border-radius: 2rem;
    display: inline-block;
    margin-top: 1rem;
}

.button.favourited, .button.favourited:hover, .button.favourited:focus {
    background-color: var(--candy-pink);
    color: white;
    margin-right: 1rem;
}

button:hover, button:focus, .button:hover, .button:focus {
    background-color: var(--sand-orange);
    color: black;
}

div.item-card {
    background-color: white;
    border: solid gray 1px;
    border-radius: 1rem;
    padding: 1rem;
    transform: scale(1);
}

div.item-card:hover, div.item-card:focus {
    background-color: var(--dusky-plum);
    transform: scale(1.02);
}

div.item-card:hover a, div.item-card:focus a {
    color: white;
}

div.item-card:active {
    transform: scale(0.96);
}

div.item-list {
    margin-top: 1rem;
}

div.item-list.grid.three-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
}

div.item-card .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.filter-group {
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-column-gap: 1rem;
}

.field {
    position: relative;
}

.field label {
    position: absolute;
    background-color: white;
    padding: 0 0.5rem;
    top: -0.6rem;
    left: 0.75rem;
}

input, select {
    padding: 1.25rem;
    border: solid 1px;
    border-radius: 0.5rem;
    width: 100%;
}

.institution-details {
    margin-top: 3rem;
    margin-bottom: 2rem;
}