:root {
    --oregon-blue: #355070;
    --dusky-plum: #6D597A;
    --rose-desert: #B56576;
    --candy-pink: #E56B6F;
    --sand-orange: #EAAC8B;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    background-color: rgb(240, 240, 240);
}

main {
    margin: 10rem 6rem;
}

.bold {
    font-size: 1.25rem;
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.inline-block {
    display: inline-block;
}

nav {
    background-color: var(--oregon-blue);
    color: white;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 3rem 1rem 0;
    justify-content: right;
    z-index: 10;
}

nav .nav-item {
    color: white;
    font-size: 1.25rem;
    padding: 1rem 2rem 1rem 1rem;
}

h1 {
    font-size: 3rem;
    margin-top: 8rem;
}

a {
    text-decoration: none;
    color: black;
}

button, .button {
    padding: 1.25rem 2rem;
    background-color: var(--oregon-blue);
    color: white;
    border-radius: 2rem;
    display: inline-block;
    margin-top: 1rem;
}

.button.favourited, .button.favourited:hover, .button.favourited:focus {
    background-color: var(--candy-pink);
    color: white;
    margin-right: 1rem;
}

button:hover, button:focus, .button:hover, .button:focus {
    background-color: var(--sand-orange);
    color: black;
}

.item-card {
    background-color: white;
    border: solid gray 1px;
    border-radius: 1rem;
    padding: 1rem;
    transform: scale(1);
}

.item-card:hover, .item-card:focus {
    background-color: var(--dusky-plum);
    transform: scale(1.02);
    color: white;
    outline: transparent;
    border: transparent;
}

.item-card:active {
    transform: scale(0.96);
}

div.item-list {
    margin-top: 1rem;
}

div.item-list.grid.three-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
}

.filter-group {
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-column-gap: 1rem;
}

.field {
    position: relative;
}

.field label {
    position: absolute;
    padding: 0 0.5rem;
    top: -0.6rem;
    left: 0.75rem;
}

input, select, textarea {
    padding: 1.25rem;
    border: solid 1px;
    border-radius: 0.5rem;
    width: 100%;
}

input, select, label {
    background-color: rgb(240, 240, 240);
}

input:hover, input:focus, select:hover, select:focus {
    outline: 1px solid black;
    background-color: white;
}

.institution-details {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.form-group {
    margin-top: 0.5rem;
}

label.error{
    color:red;
}

section#comment-list, section#share-comment {
    margin-top: 4rem;
}

section#comment-list h2, section#share-comment h2 {
    margin-bottom: 3rem;
}

form {
    display: flex;
    flex-direction: column;
}

form .button, button {
    width: fit-content;
    align-self: flex-end;
}

textarea {
    display: block;
    resize: none;
    min-height: 16rem;
    background-color: var(--sand-orange);
    border-color: var(--oregon-blue);
    outline-color: transparent;
}

textarea:hover, textarea:focus {
    background-color: white;
    outline-color: var(--oregon-blue);
}

#comment-list .comment-item {
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: white;
    border-radius: 1rem;
}

#comment-list .comment-item .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#comment-list .comment-item .flex .comment-time {
    text-align: right;
}

#comment-list .comment-item .comment-body {
    margin-top: 1.5rem;
}

form#login-form, form#register-form {
    margin-top: 3rem;
}

form#login-form button, form#register-form button {
    align-self: flex-start;
}

form#login-form .field, form#register-form .field {
    margin-top: 2rem;
}

p.authentication-secondary {
    margin-top: 1rem;
}

p.authentication-secondary a {
    text-decoration: underline;
    color: var(--oregon-blue);
}

p.authentication-secondary a:hover, p.authentication-secondary a:focus {
    color: var(--rose-desert)
}

h2.no-data-message {
    margin-top: 25vh;
    text-align: center;
}
