*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 2rem 8rem;
    font-size: 1rem;
}

h1 {
    font-size: 3rem;
    margin-top: 4rem;
}

a {
    text-decoration: none;
    color: black;
}

div.item-card {
    background-color: white;
    border: solid gray 1px;
    border-radius: 1rem;
    padding: 1rem;
    transform: scale(1);
}

div.item-card:hover, div.item-card:focus {
    background-color: lightgoldenrodyellow;
    transform: scale(1.02);
}

div.item-card:active {
    transform: scale(0.96);
}

div.item-list {
    margin-top: 1rem;
}

div.item-list.grid.three-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.5rem;
}

div.item-card .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.sr-only {
    display: none;
}

.filter-group {
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
}

.field {
    position: relative;
}

.field label {
    position: absolute;
    background-color: white;
    padding: 0 0.5rem;
    top: -0.6rem;
    left: 0.75rem;
}

input, select {
    padding: 1rem;
    border: solid 1px;
    border-radius: 0.5rem;
    width: 25rem;
}